---
import morphy from "../components/morphy"
import Symbol from "../components/Symbol.astro"
import Layout from "../layouts/Layout.astro"

const stuff = morphy(
  "../../tsconfig.json",
  "../../packages/shader-composer/src/index.ts"
)
---

<Layout title="Welcome to Astro.">
  <h1>Shader Composer</h1>
  {stuff.symbols.map((symbol) => <Symbol {...symbol} />)}
</Layout>
