---
import Layout from "../layouts/Layout.astro"
import morphy from "../components/morphy"
import { micromark } from "micromark"

const stuff = morphy(
  "../../tsconfig.json",
  "../../packages/shader-composer/src/index.ts"
)
---

<Layout title="Welcome to Astro.">
  <h1>Shader Composer</h1>
  {
    stuff.symbols.map((symbol) => (
      <div class="symbol">
        <h3>{symbol.name}</h3>
        {symbol.description && (
          <Fragment set:html={micromark(symbol.description)} />
        )}
      </div>
    ))
  }
</Layout>

<style>
  div.symbol {
    margin: 2em 0;
  }
</style>
