---
import Symbol from "../components/Symbol.astro"
import Layout from "../layouts/Layout.astro"
import morphy from "ts-module-docs"

const module = morphy(
  "../../tsconfig.json",
  "../../packages/shader-composer/src/index.ts"
)

const symbols = module.symbols.sort((a, b) => a.name.localeCompare(b.name))
---

<Layout title="Welcome to Astro.">
  <h1>Shader Composer</h1>
  {symbols.map((symbol) => <Symbol {...symbol} />)}
</Layout>
