---
import Markdown from "./Markdown.astro"
import type { SymbolDescription } from "./morphy"

export interface Props extends SymbolDescription {}

const { name, description, tags } = Astro.props
---

<div class="symbol">
  <h3>{name}</h3>
  {description && <Markdown body={description} />}

  {
    tags && tags.length > 0 && (
      <ul>
        {tags.map((tag) => (
          <li>{tag.description}</li>
        ))}
      </ul>
    )
  }
</div>

<style>
  div.symbol {
    margin: 2em 0;
  }
</style>
