html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  background-color: black;
  color: #ccc;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  height: 100vh;
}

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
