---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>

    <style>
      main {
        width: 800px;
        margin: 0 auto;
      }
    </style>

    <style is:global>
      body {
        font: 18px/1.5 Helvetica, Arial, sans-serif;
        background-color: #fff;
        color: #22223b;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font: inherit;
        font-weight: bold;
        color: #da13bc;
        text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
      }

      div.symbol {
        margin: 2.5em 0;
      }
    </style>
  </body>
</html>
